{%- assign post_schema = site.data.post_schema -%}

{%- assign post_hidden        = post.post_hidden        | default: post_schema.post_hidden.default -%}
{%- assign post_draft         = post.post_draft         | default: post_schema.post_draft.default -%}
{%- assign post_featured      = post.post_featured      | default: post_schema.post_featured.default -%}
{%- assign post_deprecated    = post.post_deprecated    | default: post_schema.post_deprecated.default -%}
{%- assign post_beta          = post.post_beta          | default: post_schema.post_beta.default -%}
{%- assign post_audience      = post.post_audience      | default: post_schema.post_audience.default -%}
{%- assign post_private       = post.post_private       | default: post_schema.post_private.default -%}
{%- assign post_admin_only    = post.post_admin_only    | default: post_schema.post_admin_only.default -%}
