{% comment %}
==================================================
variables assigned by includes, page, site, etc

device = pc || mobile || text
lang = ja || en || etc
ui = taxonomy_ui || post_ui
warnings_data = taxonomy_warning || post_warning       # taxonomy only (as of now)
labels = taxonomy_badge || post_badge
schema = taxonomy_schema || post_schema
type = categories || tags                              # taxonomy only
posts = site.pages || site.posts                       # post only
==================================================
{% endcomment %}

{%- assign device = include.device | default: page.device | default: 'text' -%}
{%- assign lang = include.lang | default: page.lang | default: 'ja' -%}
{%- assign ui = include.ui | default: {} -%}
{%- assign warnings_data = include.warnings_data | default: {} -%}
{%- assign labels = include.labels | default: {} -%}
{%- assign schema = include.schema | default: {} -%}
{%- assign type = include.type | default: page.type | default: 'categories' -%}
{%- assign posts = include.posts | default: site.pages | default: site.posts -%}

{% comment %}
==================================================
variables local to templates
values change in templates
==================================================
{% endcomment %}

{%- assign merged_items = include.merged_items | default: "" | split: "" -%}

{% comment %}
==================================================
variables local to templates
values not change in templates (constants)
==================================================
{% endcomment %}

{%- assign render_format = 'bot' -%}
{%- unless device == 'text' -%}
  {%- assign render_format = 'human' -%}
{%- endunless -%}

{%- assign base_path = "/" | append: device | append: lang | append: "/" | append: type -%}
