{% include get_context_vars.html
     device=include.device
     lang=include.lang
     ui=include.ui
     warnings_data=include.warnings_data
     labels=include.labels
     schema=include.schema
     type=include.type
     posts=include.posts
     list_type=include.list_type
     merged_items=include.merged_items
     render_format = include.render_format
     base_path=include.base_path
%}

{% if list_type == 'post' %}
  {%- for post in posts -%}
    {%- assign post_attrs = {} -%}
    {%- assign attr_list = "hidden,draft,featured,deprecated,beta,audience,private,admin_only,priority,color,icon,tooltip,created_timestamp,modified_timestamp" | split: "," -%}
    {%- for attr in attr_list -%}
      {%- assign value = post[attr] -%}
      {%- if value == nil -%}
        {%- assign value = schema[attr].default -%}
      {%- endif -%}
      {%- assign post_attrs = post_attrs | merge: {{ attr | jsonify }}: value -%}
    {%- endfor -%}
    {%- assign merged_item = post | merge: { "post_attrs": post_attrs } -%}
    {%- assign merged_items = merged_items | push: merged_item -%}
  {%- endfor -%}
{% elsif list_type == 'taxonomy' %}
  {%- assign data = site.data.taxonomy[type] | default: "" | split: "" -%}
  {%- if data.size > 0 -%}
    {%- if type == 'categories' -%}
      {%- assign standard_taxonomy_posts = site.categories -%}
    {%- elsif type == 'tags' -%}
      {%- assign standard_taxonomy_posts = site.tags -%}
    {%- else -%}
      {%- assign standard_taxonomy_posts = null -%}
    {%- endif -%}

    {%- assign seen_slugs = "" | split: "" -%}
    {%- assign items = data | sort: 'priority' %}
    {%- for item in items -%}
      {%- assign current_item_warning = "" -%}
      {%- assign current_item_name = item.name[lang] | default: 'ç¡å' -%}
      {%- assign current_item_slug = item.slug | default: '' -%}
      {%- if current_item_name == '' -%}
        {% assign current_item_warning = current_item_warning | append: "â ï¸ " | append: warnings_data.name_missing[lang] | append: " " %}
      {%- endif -%}
      {%- if current_item_slug == '' -%}
        {% assign current_item_warning = current_item_warning | append: "â ï¸ " | append: warnings_data.slug_missing[lang] | append: " " %}
      {%- endif -%}
      {%- if seen_slugs contains current_item_slug and current_item_slug != '' -%}
        {% assign current_item_warning = current_item_warning | append: "â ï¸ " | append: warnings_data.slug_duplicate[lang] | append: " " %}
      {%- else -%}
        {%- if current_item_slug != '' -%}{% assign seen_slugs = seen_slugs | push: current_item_slug %}{% endif -%}
      {%- endif -%}

      {%- assign aliases = item.aliases | default: "" | split: "" -%}
      {%- for alias in aliases -%}
        {%- if seen_slugs contains alias -%}
          {% assign current_item_warning = current_item_warning | append: "â ï¸ " | append: warnings_data.alias_conflict[lang] | append: " " %}
        {%- else -%}
          {% assign seen_slugs = seen_slugs | push: alias %}
        {%- endif -%}
      {%- endfor -%}

      {%- assign count = 0 -%}
      {%- for standard_name_posts_pair in standard_taxonomy_posts -%}
        {%- assign standard_name = standard_name_posts_pair[0] -%}
        {%- assign standard_posts = standard_name_posts_pair[1] -%}
        {%- if standard_name | slugify == current_item_slug -%}
          {%- assign count = standard_posts.size -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {% assign merged_item = item | merge: {"_count": count, "_warning": current_item_warning} %}
      {% assign merged_items = merged_items | push: merged_item %}
    {%- endfor -%}
  {%- endif -%}
{% endif %}
