{%- comment -%}
共通 head メタ情報出力ラッパー
- canonical
- alternate
- robots
- structured data (schema.org)
- Open Graph / Twitter card
{%- endcomment -%}

{%- unless page.noindex -%}
  <meta name="robots" content="index, follow">
{%- else -%}
  <meta name="robots" content="noindex, nofollow">
{%- endunless -%}

{% include meta_description.html %}
{% include meta_favicon.html %}
{% include canonical.html %}
{% include alternate.html %}
{% unless page.no_og %}{% include meta_open_graph.html %}{% endunless %}
{% unless page.no_jsonld %}{% include meta_schema_jsonld.html %}{% endunless %}