{%- assign merged_posts = include.merged_posts -%}
{%- assign lang = include.lang -%}
{%- assign device = include.device | default: 'text' -%}
{%- assign ui = include.ui -%}
{%- assign labels = include.labels -%}
{%- assign schema = include.schema -%}

{%- assign render_type = 'html' -%}
{%- if device == 'text' -%}
  {%- assign render_type = 'text' -%}
{%- endif -%}

{%- for post in merged_posts -%}
  {% unless post.post_attrs.hidden or post.post_attrs.draft or post.post_attrs.private or post.post_attrs.admin_only or post.post_attrs.audience != "external" %}
    {% include post-list-block.html
      post=post
      render_type=render_type
      lang=lang
      ui=ui
      labels=labels
      schema=schema
    %}
  {% endunless %}
{%- endfor -%}
