{% assign post = include.post | default: page %}
{% assign render_type = include.render_type | default: 'text' %}
{% include post-attribute-check.html post=post %}

{% unless post_attrs.hidden or post_attrs.draft or post_attrs.private or post_attrs.admin_only or post_attrs.audience != "external" %}
  {% if render_type == 'text' %}
    <li>
      <a href="{{ post.url }}" title="{{ post.tooltip | escape }}">
        {% if post.icon contains 'fa-' or post.icon contains 'icon-' %}
          <span class="{{ post.icon }}"></span>
        {% else %}
          {{ post.icon }}
        {% endif %}
        {{ post.title }}
      </a>
    </li>
  {% else %}
    <li class="mb-4">
      <a href="{{ post.url }}"
         class="font-semibold hover:underline"
         style="color: {{ post.color | default: '#333' }};"
         {% if post.tooltip != '' %}title="{{ post.tooltip | escape }}"{% endif %}>
        {% if post.icon contains 'fa-' or post.icon contains 'icon-' %}
          <span class="{{ post.icon }}"></span>
        {% else %}
          {{ post.icon }}
        {% endif %}
        {{ post.title }}
      </a>

      <div class="text-xs mt-1 space-x-1 text-gray-600">
        {% include post-badge.html
          featured=post_attrs.featured
          beta=post_attrs.beta
          deprecated=post_attrs.deprecated
          audience=post_attrs.audience
          tooltip=post.tooltip
          icon=post.icon
          lang=post.lang
          schema=site.data.post.post_schema
        %}

        {% if post.created_timestamp %}
          <span>🗓 {{ post.created_timestamp }}</span>
        {% endif %}
        {% if post.modified_timestamp %}
          <span>🔄 {{ post.modified_timestamp }}</span>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endunless %}
