{%- assign device = include.device | default: page.device | default: 'text' -%}
{%- assign lang = include.lang | default: page.lang | default: 'ja' -%}
{%- assign ui = include.ui | default: {} -%}
{%- assign warnings_data = include.warnings_data | default: {} -%}
{%- assign labels = include.labels | default: {} -%}
{%- assign schema = include.schema | default: {} -%}
{%- assign posts = include.posts | default: site.pages | default: site.posts -%}

{% include post_data_preparer.html
  posts=posts
  schema=schema
  lang=lang
%}

<ul class="space-y-4">
  {% include post_list_generator.html
    merged_posts=merged_posts
    lang=lang
    device=device
    ui=ui
    labels=labels
    schema=schema
  %}
</ul>
