{%- assign post_schema = site.data.post.post_schema -%}
{%- assign post_obj = include.post | default: page -%}

{%- assign post_attrs = {} -%}

{%- assign attr_list = "hidden,draft,featured,deprecated,beta,audience,private,admin_only,priority,color,icon,tooltip,created_timestamp,modified_timestamp" | split: "," -%}

{%- for attr in attr_list -%}
  {%- assign value = post_obj[attr] -%}
  {%- if value == nil -%}
    {%- assign value = post_schema[attr].default -%}
  {%- endif -%}
  {%- assign post_attrs = post_attrs | merge: {{ attr | jsonify }}: value -%}
{%- endfor -%}
