{% include get_context_vars.html
     device=include.device
     lang=include.lang
     ui=include.ui
     warnings_data=include.warnings_data
     labels=include.labels
     schema=include.schema
     type=include.type
     posts=include.posts
     merged_items=include.merged_items
%}

{%- assign render_format = 'html' -%}
{%- if device == 'text' -%}
  {%- assign render_format = 'text' -%}
{%- endif -%}

{%- for post in merged_items -%}
  {% unless post.post_attrs.hidden or post.post_attrs.draft or post.post_attrs.private or post.post_attrs.admin_only or post.post_attrs.audience != "external" %}
    {% include post-list-block.html
      post=post
      render_format=render_format
      lang=lang
      ui=ui
      labels=labels
      schema=schema
    %}
  {% endunless %}
{%- endfor -%}
