{% include get_context_vars.html
     device=include.device
     lang=include.lang
     ui=include.ui
     warnings_data=include.warnings_data
     labels=include.labels
     schema=include.schema
     type=include.type
     posts=include.posts
     merged_items=include.merged_items
%}

{% assign post = include.post | default: page %}
{% assign audience = post.audience | default: 'external' %}
{% assign audience_label = ui.audience_labels[audience][lang] %}

{% unless post.post_attrs.hidden or post.post_attrs.draft or post.post_attrs.private or post.post_attrs.admin_only or post.post_attrs.audience != "external" %}
  {% if render_format == 'bot' %}
    <li>
      <a href="{{ post.url }}" title="{{ post.tooltip | escape }}">
        {% if post.icon contains 'fa-' or post.icon contains 'icon-' %}
          <span class="{{ post.icon }}"></span>
        {% else %}
          {{ post.icon }}
        {% endif %}
        {{ post.title }}
      </a>
    </li>
  {% else %}
    <li class="mb-4">
      <a href="{{ post.url }}"
         class="font-semibold hover:underline"
         style="color: {{ post.color | default: '#333' }};"
         {% if post.tooltip != '' %}title="{{ post.tooltip | escape }}"{% endif %}>
        {% if post.icon contains 'fa-' or post.icon contains 'icon-' %}
          <span class="{{ post.icon }}"></span>
        {% else %}
          {{ post.icon }}
        {% endif %}
        {{ post.title }}
      </a>

      {% if post.description != '' %}
        <div class="text-sm text-gray-500 mt-1">{{ post.description }}</div>
      {% endif %}

      <div class="text-xs mt-1 space-x-1 text-gray-600">
        {% if audience_label %}
          <span>{{ audience_label }}</span>
        {% endif %}

        {% include post-badge.html
          featured=post.post_attrs.featured
          beta=post.post_attrs.beta
          deprecated=post.post_attrs.deprecated
          audience=post.post_attrs.audience
          tooltip=post.tooltip
          icon=post.icon
          lang=lang
          labels=labels
          schema=schema
        %}

        {% if post.created_timestamp %}
          <span>🗓 {{ post.created_timestamp }}</span>
        {% endif %}
        {% if post.modified_timestamp %}
          <span>🔄 {{ post.modified_timestamp }}</span>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endunless %}
