{%- assign schema = site.data.taxonomy.schema -%}

<ul class="space-y-2">
  {% assign sorted_items = include.items | sort: 'taxonomy_priority' %}
  {% for item in sorted_items %}
    {% assign name           = item.taxonomy_name | default: 'unknown' %}
    {% assign slug           = item.taxonomy_slug | default: '' %}
    {% assign audience       = item.taxonomy_audience | default: schema.taxonomy_audience.default %}
    {% assign admin_only     = item.taxonomy_admin_only | default: schema.taxonomy_admin_only.default %}
    {% assign hidden         = item.taxonomy_hidden | default: schema.taxonomy_hidden.default %}
    {% assign draft          = item.taxonomy_draft | default: schema.taxonomy_draft.default %}
    {% assign color          = item.taxonomy_color | default: schema.taxonomy_color.default %}
    {% assign tooltip        = item.taxonomy_tooltip | default: '' %}
    {% assign icon           = item.taxonomy_icon | default: '' %}
    {% assign hidden_reason  = item.taxonomy_hidden_reason | default: '' %}

    {% if slug == '' or admin_only or hidden or draft or audience != 'external' %}
      {% continue %}
    {% endif %}

    <li class="flex items-center space-x-2">
      <a href="{{ include.base_path }}/{{ slug }}/"
         class="inline-block px-2 py-1 rounded text-white"
         style="background-color: {{ color }}"
         {% if tooltip != '' %}title="{{ tooltip }}"{% endif %}>
        {% if icon != '' %}<span class="mr-1">{{ icon }}</span>{% endif %}{{ name }}
      </a>
      {% include taxonomy-badge.html
        featured=item.taxonomy_featured
        beta=item.taxonomy_beta
        deprecated=item.taxonomy_deprecated
        audience=audience
        tooltip=tooltip
        icon=icon
        hiddenReason=hidden_reason %}
    </li>
  {% endfor %}
</ul>
