{% include get_context_vars.html
     device=include.device
     lang=include.lang
     ui=include.ui
     warnings_data=include.warnings_data
     labels=include.labels
     schema=include.schema
     type=include.type
     posts=include.posts
     merged_items=include.merged_items
%}

<ul class="space-y-1">
  {%- for item in merged_items %}
    {% include item-list-block.html
      item=item
      counts=item._count
      warning=item._warning
      ui=ui
      labels=labels
      lang=lang
      schema=schema
    %}
  {%- endfor %}
</ul>
