{%- comment -%}
このファイルは、準備されたタクソノミーアイテムのリスト（merged_items）を受け取り、
それぞれのアイテムに対して taxonomy-list-block.html を呼び出してHTMLを生成します。

必要な引数:
- merged_items: taxonomy_data_preparer.html によって準備されたタクソノミーアイテムの配列 (必須)
- base_path: 各タクソノミーへのリンクのベースパス (例: '/ja/categories') (必須)
- ui: UIテキストデータ (site.data.lang.taxonomy_uiなど) (必須)
- lang: 現在の言語 (必須)
- render_type: 'html' または 'text' (オプション、デフォルトは 'html')
- schema: site.data.taxonomy.taxonomy_schema (必須)
{%- endcomment -%}

{% include get_context_vars.html
     device=include.device
     lang=include.lang
     ui=include.ui
     warnings_data=include.warnings_data
     labels=include.labels
     schema=include.schema
     type=include.type
     posts=include.posts
     merged_items=include.merged_items
%}

{%- assign base_path = include.base_path -%}
{%- assign render_type = include.render_type | default: 'html' -%}

<ul class="space-y-1">
  {%- for item in merged_items %}
    {% include taxonomy-list-block.html
      item=item
      base_path=base_path
      counts=item._count  {# _countとしてマージしたカウントを渡す #}
      ui=ui
      labels=labels
      warning=item._warning {# _warningとしてマージした警告メッセージを渡す #}
      lang=lang
      render_type=render_type
      schema=schema {# schemaも渡す #}
    %}
  {%- endfor %}
</ul>
