---
layout: base {# base.html を継承する #}
title: "AI/クローラー用軽量ページ"
description: "AIが読みやすいように最適化されたプレーンHTML構成です"
head_content: "{% include head-minimal.html %}" # AI向けhead部品を指定
---

{# ここからがレイアウトの {{ content }} に入る部分 #}

{%- assign device = page.device | default: 'text' -%}
{%- assign lang = page.lang | default: 'ja' -%}
{%- assign type = page.type | default: 'categories' -%}

<main>
    {{ content }}
    <!-- <h2>{{ common_ui.title.[type][lang] }}</h2> -->
    {% include taxonomy-list.html
      device=device
      lang=lang
      type=type
    %}
</main>

